/*! responsive-nav.js 1.0.32 by @viljamis */

#nav {
    background: white;
    opacity: 0.7;
    width:110%;
    position: fixed;
    top: 0px;
    left:0px;
    height: 60px;
    overflow:hidden;
    display:block;
    text-align:left;
}

#logo {
    float:left;
    margin:12px 50px 15px 20px;
    vertical-align: middle;
}

#logo span {
    font-size:15px;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  list-style: none;
}

.nav-collapse li {
  margin:20px 5px 15px 5px;
  display:inline-block;
  font-size:20px;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-weight:700;
}

.nav-collapse li a {
    text-decoration:none;
    color:gray;
}

.nav-collapse li a:hover {
    color:black;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 800px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

